@font-face {
  font-family: generalFont, sans-serif;
  src: url('../fonts/RedHatText-Bold.ttf') format('truetype');
}
@font-face {
  font-family: secondFont;
  src: url('../fonts/RedHatText-Medium.ttf') format('truetype');
}
