$primaryColor: #ffffff;

$secondaryColor: darkslategray;

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  background-color: rgba($color: #000000, $alpha: 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.activeModal {
  display: flex;
}

.blinkList {
  background-color: green;
}

// @keyframes blinker {
//   50% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  font-size: 25px;
  padding: 10px;
  // width: 50%;
  min-height: 10vh;
  z-index: 1000;
  .scoreBoard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    font-size: 22px;
  }
  p {
    text-align: center;
  }
}

html {
  margin: 0;
  padding: 0;
  font-family: generalFont;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #b8b8b8;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.player {
  background: white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px gray solid;
  border-radius: 5px;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  padding: 10px;
  background: white;
  border-radius: 5px;
  & .timer span:not(:last-child):after {
    content: ':';
  }
}

.control {
  &Bar {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &Select {
  }
}

.move-list-item {
  transition: all 0.2s ease;
}
.hide {
  display: none;
  p {
    color: red;
    font-size: 32px;
  }
}

.savedModal {
  // display: none;
  background-color: white;
  padding: 5px;
  font-size: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
  opacity: 0;
  border: 1px gray solid;
  z-index: -1;
  // transition: all 0.2s ease;
  &.active {
    z-index: 1000;
    opacity: 1;
    transition: all 0.4s ease;
  }
  &.hide {
    display: none;
  }
}

.btn {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px gray solid;
  @media only screen and (max-width: 600px) {
    font-size: 12px;
    padding: 3px;
  }
  &:active {
    background: gray;
  }
}

select {
  outline: none;
  &:focus {
    outline: none;
  }
}

.puzzle {
  &__list {
    transition: all 0.2s ease;
    // background-color: #b8b8b8;
    position: relative;
    // max-width: 100%;
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  &__item {
    // font-size: 8px;

    z-index: 10;
    border: 1px gray solid;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    vertical-align: center;
    // font-size: 25px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    color: gray;
    background-color: white;
    border-radius: 5px;
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      box-sizing: border-box;
      margin: 0;
      -webkit-user-select: none;
    }
  }
  &__cell {
    padding: min min(5%, 30px);
    box-sizing: border-box;
    // border: 2px solid red;
    margin: 2px;
    position: relative;
    min-height: 33%;
    // min-height: 250px;
  }
}
