//- include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
    include pug/_header
    include pug/_greet
    include pug/_steps
    body
        //- .container
            //- h2.container__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ipsam!
            //- .block
            //- .user
